/* Les titres sont en Noto Sans Korean 700 et les textes en Work Sans 300/400*/
/*fond grisatre : #EFF2F1    vert : #459E85   */

body{
    background-color: #EFF2F1;
}
/*HEADER*/
header{
    display: flex;
    justify-content: space-between;
    background-color: white;
    height: 70px;
}
#logo{
    color: #459E85;
    margin-left: 15px;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 700;
    display: flex;
    align-items: center;
}
#otherPages{
    width: 10%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
A{
    outline: none;
    text-decoration: none;
}

/*MAIN*/
#container{
    background-image: url('images/background.jpg');
    background-position: center;
    padding: 50px;
}

#titles {
    color: white;
    text-align: center;
}

h1{
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 700;
}

h2{
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 300;
}

#boxes{
    display: flex;
    justify-content: center;
}

.box{
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;

    align-items: center;
    margin-left: 40px;
    margin-right: 40px;
    width: 350px;
    height: 400px;
}

#response{
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: scroll;
    overflow-x: hidden;
}


#departure{
    margin-top: 20px;
    background-color: #EFF2F1;
    color: #8A8C8C;
    border-radius: 5px #8A8C8C;
    border: none;
    font-family: "Work Sans", sans-serif;;
    height: auto;
    width: 80%;
    padding: 10px;
    margin-bottom: 5px;
}


#arrival{
    background-color: #EFF2F1;
    color: #8A8C8C;
    border-radius: 5px;
    border: none; 
    font-family: "Work Sans", sans-serif;;
    height: auto;
    width: 80%;
    margin-bottom: 50px;
    padding: 10px;

}


#calendar{
    background-color: #EFF2F1;
    color: #8A8C8C;
    border-radius: 5px;
    border: none; 
    font-family: "Work Sans", sans-serif;;
    height: auto;
    width: 80%;
    margin-bottom: 75px;
    padding: 10px;
}


#search {
    background-color: #459E85;
    color: white;
    border-radius: 5px;
    border: none;
    font-family: "Work Sans", sans-serif;
    height: auto;
    width: 80%;
    padding: 10px;
}

a{
    outline: none;
    text-decoration: none;
}




/*NO BOOKING*/
.containerNoBookings{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;

}

.noBookings{
    text-align: center;
    font-family: "Work Sans", sans-serif;
    color: black;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    height: 20%;
    padding: 15px;
}

#bookYourTrip img{
    height: 50%;
    width: auto;
    overflow: hidden;
}

#noTripFound{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#noTripFound img{
    height: 50%;
    width: auto;

}




/*BOOKING*/
.book{
    background-color: #459E85;
    color: white;
    border-radius: 5px;
    border: none;
    font-family: "Work Sans", sans-serif;
    margin: 10px;
}

.tripsList{
    display: flex;
    background-color: #EFF2F1;
    border-radius: 5px;
    font-family: "Work Sans", sans-serif;
    color: black;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
}



/*CART*/
#cartContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.myCart{
    background-color: white;
    border-radius: 10px;
    width: 70%;
    height: auto;
    padding-top: 100px;

}

.delete{
    background-color: #459E85;
    color: white;
    border-radius: 5px;
    border: none;
    font-family: "Work Sans", sans-serif;
    margin: 10px;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart{
    background-color: #EFF2F1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: auto;
    margin-bottom: 20px;
    border-radius: 5px;
    font-family: "Work Sans", sans-serif;
    color: black;
}
.purchase{
    background-color: #459E85;
    color: white;
    border-radius: 5px;
    border: none;
    font-family: "Work Sans", sans-serif;
    margin: 10px;

}

.totalCarts{
    background-color: #00153E;
    color: white;
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 0px 0px 10px 10px;
}